workflows/airp-incident-resolution-webhook.json
{
"name": "AIRP - Incident Resolution (Webhook)",
"nodes": [
{
"parameters": {
"httpMethod": "POST",
"path": "incident-trigger",
"responseMode": "responseNode",
"options": {}
},
"id": "node-webhook-trigger",
"name": "Incident Alert Received",
"type": "n8n-nodes-base.webhook",
"typeVersion": 1,
"position": [240, 300]
},
{
"parameters": {
"respondWith": "json",
"responseBody": "={{ JSON.stringify({status: 'received', incident_id: Date.now()}) }}"
},
"id": "node-webhook-response",
"name": "Acknowledge Alert",
"type": "n8n-nodes-base.respondToWebhook",
"typeVersion": 1,
"position": [460, 200]
},
{
"parameters": {
"method": "POST",
"url": "=http://{{ $vars.AIRP_AGENTS_IP }}:8080/monitor",
"sendBody": true,
"bodyContentType": "json",
"jsonBody": "={{ JSON.stringify($json.body) }}",
"options": {
"timeout": 30000
}
},
"id": "node-monitor-agent",
"name": "Monitor Agent",
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4,
"position": [680, 300]
},
{
"parameters": {
"method": "POST",
"url": "=http://{{ $vars.AIRP_AGENTS_IP }}:8080/correlate",
"sendBody": true,
"bodyContentType": "json",
"jsonBody": "={{ JSON.stringify($json) }}",
"options": {
"timeout": 30000
}
},
"id": "node-correlation-agent",
"name": "Correlation Agent",
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4,
"position": [900, 300]
},
{
"parameters": {
"method": "POST",
"url": "=http://{{ $vars.AIRP_AGENTS_IP }}:8080/rca",
"sendBody": true,
"bodyContentType": "json",
"jsonBody": "={{ JSON.stringify($json) }}",
"options": {
"timeout": 60000
}
},
"id": "node-rca-agent",
"name": "RCA Agent (GPT)",
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4,
"position": [1120, 300]
},
{
"parameters": {
"method": "POST",
"url": "=http://{{ $vars.AIRP_AGENTS_IP }}:8080/remediate",
"sendBody": true,
"bodyContentType": "json",
"jsonBody": "={{ JSON.stringify($json) }}",
"options": {
"timeout": 60000
}
},
"id": "node-remediation-agent",
"name": "Remediation Agent (GPT)",
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4,
"position": [1340, 300]
},
{
"parameters": {
"method": "POST",
"url": "YOUR_SLACK_WEBHOOK_URL_HERE",
"sendBody": true,
"bodyContentType": "json",
"jsonBody": "={{ JSON.stringify({\n  text: '🚨 *AIRP INCIDENT DETECTED*\\n\\n*Incident ID:* ' + $json.incident_id + '\\n*Severity:* CRITICAL\\n\\n*📊 Current Metrics:*\\n• S1 Checkout Latency: ' + $json.metrics.s1_latency_ms + 'ms _(threshold: 500ms)_\\n• S2 DB Pool Usage: ' + $json.metrics.s2_pool_usage_percent + '%\\n• S3 GC Pause: ' + $json.metrics.s3_gc_pause_ms + 'ms\\n\\n*🔍 Root Cause (AI Analysis):*\\n' + $json.diagnosis.primary_root_cause + '\\n\\n*🔧 Recommended Action:*\\n' + $json.remediation_plan.recommended_action.description + '\\n`' + $json.remediation_plan.recommended_action.kubectl_command + '`\\n\\n*Risk Level:* ' + $json.remediation_plan.risk_level + '\\n*AI Confidence:* ' + Math.round($json.remediation_plan.confidence_score * 100) + '%\\n\\n*Rollback Plan:* ' + $json.remediation_plan.rollback_plan.description + '\\n\\n✅ <' + $vars.N8N_APPROVAL_WEBHOOK + '?action=approve&incident=' + $json.incident_id + '|APPROVE FIX>\\n❌ <' + $vars.N8N_APPROVAL_WEBHOOK + '?action=deny&incident=' + $json.incident_id + '|DENY>'\n}) }}",
"options": {}
},
"id": "node-slack-approval",
"name": "Send Slack Approval Request",
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4,
"position": [1560, 300]
},
{
"parameters": {
"httpMethod": "GET",
"path": "sre-approval",
"responseMode": "responseNode",
"options": {}
},
"id": "node-approval-webhook",
"name": "Wait for SRE Approval",
"type": "n8n-nodes-base.webhook",
"typeVersion": 1,
"position": [1780, 300]
},
{
"parameters": {
"respondWith": "text",
"responseBody": "Action received. Executing remediation..."
},
"id": "node-approval-response",
"name": "Acknowledge Approval",
"type": "n8n-nodes-base.respondToWebhook",
"typeVersion": 1,
"position": [1780, 180]
},
{
"parameters": {
"conditions": {
"string": [
{
"value1": "={{ $json.query.action }}",
"operation": "equals",
"value2": "approve"
}
]
}
},
"id": "node-approval-check",
"name": "Approved?",
"type": "n8n-nodes-base.if",
"typeVersion": 1,
"position": [2000, 300]
},
{
"parameters": {
"method": "POST",
"url": "=http://{{ $vars.AIRP_AGENTS_IP }}:8080/execute",
"sendBody": true,
"bodyContentType": "json",
"jsonBody": "={{ JSON.stringify({ deployment: 's3-pricing', replicas: 4, namespace: 'shopfast' }) }}",
"options": {
"timeout": 180000
}
},
"id": "node-k8s-operator",
"name": "K8s Operator — Scale S3",
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4,
"position": [2220, 200]
},
{
"parameters": {
"method": "POST",
"url": "YOUR_SLACK_WEBHOOK_URL_HERE",
"sendBody": true,
"bodyContentType": "json",
"jsonBody": "={{ JSON.stringify({\n  text: '❌ *AIRP: Remediation DENIED by SRE*\\n\\nIncident ' + $json.query.incident + ' has been denied.\\nManual investigation required.'\n}) }}",
"options": {}
},
"id": "node-denied-slack",
"name": "Notify Denial",
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4,
"position": [2220, 400]
},
{
"parameters": {
"method": "POST",
"url": "=http://{{ $vars.AIRP_AGENTS_IP }}:8080/validate",
"sendBody": true,
"bodyContentType": "json",
"jsonBody": "={{ JSON.stringify({ execution_result: $json, incident_id: $('RCA Agent (GPT)').item.json.incident_id }) }}",
"options": {
"timeout": 60000
}
},
"id": "node-validation",
"name": "Validate Recovery",
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4,
"position": [2440, 200]
},
{
"parameters": {
"method": "POST",
"url": "=http://{{ $vars.AIRP_AGENTS_IP }}:8080/document",
"sendBody": true,
"bodyContentType": "json",
"jsonBody": "={{ JSON.stringify({ ...$('RCA Agent (GPT)').item.json, ...$('Remediation Agent (GPT)').item.json, validation: $json.validation }) }}",
"options": {
"timeout": 60000
}
},
"id": "node-documentation",
"name": "Documentation Agent",
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4,
"position": [2660, 200]
},
{
"parameters": {
"method": "POST",
"url": "YOUR_SLACK_WEBHOOK_URL_HERE",
"sendBody": true,
"bodyContentType": "json",
"jsonBody": "={{ JSON.stringify({\n  text: '✅ *AIRP: INCIDENT RESOLVED*\\n\\n*' + $json.report.title + '*\\n\\n*Summary:* ' + $json.report.summary + '\\n\\n*Root Cause:* ' + $json.report.root_cause + '\\n\\n*Resolution:* ' + $json.report.resolution + '\\n\\n*Prevention:* ' + $json.report.prevention + '\\n\\n_Full report filed under incident ID: ' + $json.incident_id + '_'\n}) }}",
"options": {}
},
"id": "node-final-slack",
"name": "Post Resolution Report to Slack",
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4,
"position": [2880, 200]
}
],
"connections": {
"Incident Alert Received": {
"main": [
[
{"node": "Acknowledge Alert", "type": "main", "index": 0},
{"node": "Monitor Agent", "type": "main", "index": 0}
]
]
},
"Monitor Agent": {
"main": [[{"node": "Correlation Agent", "type": "main", "index": 0}]]
},
"Correlation Agent": {
"main": [[{"node": "RCA Agent (GPT)", "type": "main", "index": 0}]]
},
"RCA Agent (GPT)": {
"main": [[{"node": "Remediation Agent (GPT)", "type": "main", "index": 0}]]
},
"Remediation Agent (GPT)": {
"main": [[{"node": "Send Slack Approval Request", "type": "main", "index": 0}]]
},
"Send Slack Approval Request": {
"main": [[{"node": "Wait for SRE Approval", "type": "main", "index": 0}]]
},
"Wait for SRE Approval": {
"main": [
[{"node": "Acknowledge Approval", "type": "main", "index": 0}],
[{"node": "Approved?", "type": "main", "index": 0}]
]
},
"Approved?": {
"main": [
[{"node": "K8s Operator — Scale S3", "type": "main", "index": 0}],
[{"node": "Notify Denial", "type": "main", "index": 0}]
]
},
"K8s Operator — Scale S3": {
"main": [[{"node": "Validate Recovery", "type": "main", "index": 0}]]
},
"Validate Recovery": {
"main": [[{"node": "Documentation Agent", "type": "main", "index": 0}]]
},
"Documentation Agent": {
"main": [[{"node": "Post Resolution Report to Slack", "type": "main", "index": 0}]]
}
},
"settings": {
"executionOrder": "v1"
}
}